<div class="new-followers-container">
  <div class='new-followers-title'>NEW FOLLOWERS</div>
  <div class='users-list'>
    <%= render( partial: 'users/user', collection: @followers, as: :user ) %>
  <div>
</div>
